*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.sidebar {
  border-left: solid;
}

body {
  margin-top: 50px;
  font-size: 15px;
}

body, input, textarea {
  font: 1em/1.5 Arial, Helvetica, sans-serif;
}

.title {
  background: url('../images/icon.png') no-repeat left;
  width: 100%;
  height: 35vh;
  text-align: right;
}

.form-title {
  font-size: 1.5em;
  padding: 0.5em 0;
  text-align: center;
  background: #eab126;
  color: white;
  border-radius: 5px 5px 0 0;
}

form ul.input-list {
  list-style-type: none;
  list-style-position: outside;
  background: white;
  margin-bottom: 1em;
}

form li.form-input {
  width: 100%;
  border: 1px solid #ccc;
  border-bottom: none;
  margin-bottom: 0px;
  position: relative;
}

form li.form-input:first-child {
  border-top: 0;
}

form li.form-input:last-child {
  border-bottom: 1px solid #ccc;
}

label, input {
  display: block;
  border: 0;
}

input {
  width: 100%;
  height: 100%;
  padding: 2.25em 1em 1em;
  outline: 0;
  border-bottom: 1px solid #1fb585;
  transition: 0.333s ease-in-out border-bottom;
}

input[type=submit] {
  background: #1fb585;
  margin-bottom: 1em;
  color: white;
  border-radius: 3px;
  padding: 0.75em;
  -webkit-appearance: none; /* remove default browser <button> styling */
  -webkit-transition: .333s ease -webkit-transform;
  transition: 0.333s ease transform;
}

input[type=submit]:hover {
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
  cursor: pointer;
}

input[type=submit]:active {
  -webkit-transform: scale(0.975);
  transform: scale(0.975);
}

label {
  font-size: .8125em;
  position: absolute;
  top: 1.23em;
  left: 1.23em;
  color: #1fb585;
  opacity: 1;
  -webkit-transition: 0.333s ease top, 0.333s ease opacity;
  transition: 0.333s ease top, 0.333s ease opacity;
}

.js-hide-label input {
  border-bottom: none;
}

.js-hide-label label {
  opacity: 0;
  top: 1.5em;
}

.js-unhighlight-label label {
  color: #999;
}

.js-error {
  border-color: #f24c42;
}

.js-error + li.form-input {
  border-top-color: #f24c42;
}

.js-error label {
  color: #f24c42;
}

h1 {
  font-size: 50px;
  padding-top: 10vh;
  color: #eab126;
}

ul.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

ul.header li a {
  display: inline-block;
  color: #000000;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  float: left;
  color: white;
}

.right {
  float: right !important;
}

ul.header li a:hover {
  background-color: #555;
}

#standings {
  margin-left: auto;
  margin-right: auto;
  background: #eab126;
}

#standings td.number-field {
  text-align: center;
}

#standings td,th {
  padding: 7px 8px;
  font-size: large;
  color: white;
}

#standings tr td:first-child,th:first-child {
  width: 90%;
}

#standings tr th:first-child {
  text-align: left;
}

.thumbnail {
  border-radius: 10px;
  cursor: pointer;
  transition: 0.7s ease background, 0.7s ease color;
}

.thumbnail img {
  border-radius: 10px;
}

.thumbnail.selected {
  color: white !important;
  background: #1fb585 !important;
}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }

    .form-title {
      font-size: large;
    }

    .sidebar {
      border-left: none;
    }
}
