* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.sidebar {
  font-size: small;
  border-left: solid;
}

body {
  margin-top: 50px;
  font-family: Verdana;
  font-size: 15px;
}

.title {
  background: url('../images/icon.png') no-repeat left;
  width: 100%;
  height: 30vh;
  text-align: right;
}

h1 {
  font-size: 50px;
  padding-top: 10vh;
}

ul.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.header li a {
  display: inline-block;
  color: #000000;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  float: left;
}

.clear {
  clear: both;
}

.right {
  float: right !important;
}

u.header li a:hover {
  background-color: #555;
}

#standings {
  margin-left: auto;
  margin-right: auto;
}

#standings td.number-field {
  text-align: center;
}

#standings td,th {
  padding: 14px 16px;
}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }

    .sidebar {
      border-left: none;
    }
}

.form-group {
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  content: "";
  clear: both;
  display: block;
}

input {
  border-radius: 10px;
}

input[type=text] {
  width: 100%;
  padding: 10px 10px;
}

input[type=radio] {
  margin-right: 1%;
}

button {
  font-size: 15px;
  padding: 6px 7px;
  border-radius: 7px;
  cursor: pointer;;
}
